<!DOCTYPE html>
<html>
<head>
    <title>Edit Car Part</title>
    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.css">
    <style>
       .modal-dialog {
           max-width: 90%; 
           width: auto; 
           height: auto; 
       }
       .modal-content {
           height: 80vh; 
           overflow: hidden; 
       }
       #tui-image-editor {
           width: 100%; 
           height: 100%; 
           object-fit: contain; 
       }
       .modal-footer {
           display: flex;
           justify-content: space-between;
           align-items: center;
       }
       .modal-footer button {
           margin: 0 5px;
       }
    </style>
</head>

<body>
    <div class="container">
        <h1>Redaguoti automobilio dalį</h1>
        <form method="post" enctype="multipart/form-data" id="car-part-form" data-part-id="{{ part.id }}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}
            
            <h2>Nuotraukos</h2>
            <div id="image-list" class="image-container">
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="image-item" data-id="{{ form.instance.id }}" data-original-src="{{ form.instance.image.url }}">
                        {% if form.instance.thumbnail %}
                            <img src="{{ form.instance.thumbnail.url }}" alt="Nuotrauka">
                        {% else %}
                            <p>Nėra miniatiūros</p>
                        {% endif %}
                        <div class="order-id">{{ form.instance.order }}</div>
                        <div class="actions">
                            <i class="fas fa-edit edit-image"></i>
                            <i class="fas fa-trash delete-image"></i>
                        </div>
                        {% for field in form %}
                            {% render_field field %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            
            <div class="form-group">
                <label for="new_images">Įkelti naujas nuotraukas:</label>
                <input type="file" name="new_images" id="new_images" multiple class="form-control-file">
                <button type="button" class="btn btn-secondary" id="addImages">Įkelti nuotraukas</button>
            </div>
            
            <button type="submit" class="btn btn-primary">Išsaugoti</button>
        </form>
    </div>

    <div class="modal fade" id="image-editor-container" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="tui-image-editor"></div>
                <div class="modal-footer">
                    <button id="save-button" class="btn btn-primary">Išsaugoti</button>
                    <button id="close-button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.1/fabric.min.js"></script>
    <script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.js"></script>
    <script src="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.js"></script>
    <script src="{% static 'js/car_part_edit.js' %}"></script>
</body>
</html>